body {
    background-color: #79f8ef;
}

p {
    padding-left: calc(50% - 101px);
    font-size: 40pt;
    border: 1px solid;
}

p.front {
    animation-duration: 550ms;
    animation-timing-function: cubic-bezier(.17,.03,.95,.3);
    animation-name: frontflipping
}

p.back {
    transform: rotateY(-180deg);

    animation-duration: 550ms;
    animation-timing-function: cubic-bezier(.17,.03,.95,.3);
    animation-name: backflipping
}

@keyframes frontflipping {
    0% {
        transform: rotateY(0deg);
    }
    
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes backflipping {
    0% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}


canvas{padding-left: calc(50% - 350px);}

